##############################################################################
##############################################################################
##############################################################################
##                                                                          ##
## The Dileptons Analysis Framework                                         ##
##                                                                          ##
## Constantin Heidegger, CERN, Summer 2014                                  ##
##                                                                          ##
##############################################################################
##############################################################################
##############################################################################
##
## current.conf
## This is the configuration file for current and daily usage.
## There is another configuration file (analysis.conf) that is  
## used to run the current analysis.
##
## The structure is the following:
##
## #	Type		Name		Value		All Possible And Allowed Values
##
## The FIRST SYMBOL (#, v, n, o, d, e, s, m) 
## determines the entry type, which may be:
## comment (#), 
## variable (v), 
## variable that is not considered in the output management (n),
## object selection definitions (o),
## defined event variable definitions (d),
## event selection definitions (e),
## file paths for data samples (s),
## maximal number of entries considered for each sample file (m).
##
## The TYPE (bool, double, float, int, AKRD, TString) gives the 
## data type of the variable. 
##
## The NAME gives the variable name. The first letter always has to be
## capitalized. We may use specific abbreviations for the kinematic
## regions, e.g. SRxx for signal regions, BRxx for baseline regions,
## MRxx for measurement regions, where xx is the number (two digits!) of 
## the kinematic region.
##
## VALUE refers to the value the variable is filled with. In principle,
## there is only one value allowed for every variable. Connections of
## values must be realized in the code.
##
## ALL POSSIBLE AND ALLOWED VALUES gives a list of all values this 
## variable can be filled with seperated by a comma (,). 


## General variables crucial to run the code but not considered in the output management:

n	TString		UserName	cheidegg

n	TString		InputPath	input/

n	TString		OuputPath	output/

n	TString		AFSPath		/afs/cern.ch/user/c/cheidegg/www/dileptons/

n	int		Verbose		0		0, 1, 2

n	TString		Mode		default		default, test

n	TString		Run		modules		analysis, modules, sketches

n	TString		Modules		0

n	int		ModuleList		0


## General variables:

v	float		Luminosity		24.9

v	float		JetCorrection		0		0, 1 


## Object selection definitions:

o	AKROSD		E		HT++400, MET--20
o	AKROSD		AJ		HT++400, MET--20
o	AKROSD		BJ		HT++400, MET--20
o	AKROSD		J		HT++400, MET--20
o	AKROSD		LE		HT++400, MET--20
o	AKROSD		LM		HT++400, MET--20
o	AKROSD		M		HT++400, MET--20
o	AKROSD		TE		HT++400, MET--20
o	AKROSD		TM		HT++400, MET--20
o	AKROSD		VE		HT++400, MET--20
o	AKROSD		VM		HT++400, MET--20


## Defined event variable definitions:

d	AKROSD		DIFF


## Event selection definitions:

e	AKROSD		MR01		NL
e	AKROSD		MR02		HT++400, MET--20
e	AKROSD		MR03		HT++400, MET--20

e	AKROSD		BR01		NLL=1

e	AKROSD		SR01		NLL=2


## File paths and names of data amples:

s	TString		dmu12a		filepath.root
s	TString		dmu12b		filepath.root

m	int		dmu12a		100
m	int		dmu12b		100




